# Question 1

In [13]:
a = int(input("Enter 1st number: "))
b = int(input("Enter 1st number: "))
c= a*b
if c>1000:
    d = a+b 
    print(d)
else:
    print(c)

Enter 1st number: 833
Enter 1st number: 544
1377

# Question 2

In [19]:
li = list(range(10))
pn = 0
for i in li:
    x= pn + i
    print( 'Current Number '+ str(i) + ' Previous Number ' +  str(pn) + ' sum is ' + str(x))
    pn = i

Current Number 0 Previous Number 0 sum is 0
Current Number 1 Previous Number 0 sum is 1
Current Number 2 Previous Number 1 sum is 3
Current Number 3 Previous Number 2 sum is 5
Current Number 4 Previous Number 3 sum is 7
Current Number 5 Previous Number 4 sum is 9
Current Number 6 Previous Number 5 sum is 11
Current Number 7 Previous Number 6 sum is 13
Current Number 8 Previous Number 7 sum is 15
Current Number 9 Previous Number 8 sum is 17

# Question 3

In [17]:
i = 1
n = 10
while i<=n:
    print(i)
    i = i+1

1
2
3
4
5
6
7
8
9
10

# Question 4

In [11]:
sum = 0
n = int(input("Enter the number: "))
for i in range(1,n):
    sum  = sum + i
print(sum)

Enter the number: 10
45

# Question 5

In [21]:
li = [10,15,20,23,43,32,21,300000,2333,23]
for i in li:
    div = i/5
    if div>150:
        break
    else:
        print(div)

2.0
3.0
4.0
4.6
8.6
6.4
4.2

# Question 6

In [4]:
list = [1,2,3,4,5,6,7,8,9]

for i in range(len(list)//2):
    list[i],list[-1-i] = list[-1-i],list[i]
    
list

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [8]:
list1=[10,20,25,30,45,35]
#list.reverse()
for i in range(len(list1)-1,-1,-1):
    print(list1[i])

35
45
30
25
20
10

# Question 7

In [6]:
'My**Name**Is**Tamim'

'My**Name**Is**Tamim'

In [7]:
print('My**', 'Name**', 'Is**', 'Tamim')

My** Name** Is** Tamim

# Question 8

In [1]:
a  = [1,2,3,4,5,6,7]
b = [8,9,10,11,12]

print("first list valu is: ", str[a])
print("2nd list valu is: ", str[b])

TypeError: 'type' object is not subscriptable